@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 0 0% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 0 0% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 3.9%;
    --primary: 0 0% 9%;
    --primary-foreground: 0 0% 98%;
    --secondary: 0 0% 96.1%;
    --secondary-foreground: 0 0% 9%;
    --muted: 0 0% 96.1%;
    --muted-foreground: 0 0% 45.1%;
    --accent: 0 0% 96.1%;
    --accent-foreground: 0 0% 9%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 89.8%;
    --input: 0 0% 89.8%;
    --ring: 0 0% 3.9%;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;


    /* اضافه کردن متغیرهای جدید برای رنگ‌های ثابت */
    --progress-bar: 142 65% 43%; /* #30af5b */
    --progress-shadow: 142 65% 43% 37%; /* #30af5a5e */
    --dark-progress-bar: 84 100% 71%; /* #b5ff6d */
    --dark-progress-shadow: 84 100% 71% 40%; /* #b6ff6d66 */
    --border-light: 210 20% 86%; /* #cbd5e1 */
    --border-dark: 240 10% 19%; /* #2c2c35 */
    --underline-light: 142 65% 43%; /* #30af5b */
    --underline-dark: 84 100% 71%; /* #b5ff6d */
  }
  .dark {
    --background: 248 100% 3%;
    --foreground: 0 0% 98%;
    --card: 0 0% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 0 0% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 0 0% 98%;
    --primary-foreground: 0 0% 9%;
    --secondary: 0 0% 14.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 0 0% 14.9%;
    --muted-foreground: 0 0% 63.9%;
    --accent: 0 0% 14.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 14.9%;
    --input: 0 0% 14.9%;
    --ring: 0 0% 83.1%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  }
}
@layer base {
  * {
    border: var(--border);
  }
  body {
    background-color: var(--background);
    color: var(--foreground);
  }
}

/* Custom section Styles  */
.max-screen {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding-right: 1rem;
  padding-left: 1rem;
}

@media (min-width: 480px) {
  .max-screen {
    max-width: 480px;
  }
}

@media (min-width: 640px) {
  .max-screen {
    max-width: 640px;
  }
}

@media (min-width: 768px) {
  .max-screen {
    max-width: 768px;
    padding-right: 1.5rem;
    padding-left: 1.5rem;
  }
}

@media (min-width: 1024px) {
  .max-screen {
    max-width: 1024px;
    padding-right: 2rem;
    padding-left: 2rem;
  }
}

@media (min-width: 1280px) {
  .max-screen {
    max-width: 1280px;
  }
}

section {
  padding-top: 4rem;
  padding-bottom: 4rem;
}

@media (min-width: 640px) {
  section {
    padding-top: 6rem;
    padding-bottom: 6rem;
  }
}

/* Opacity Container Styles  */
.opacity-container-child {
  transition: opacity 0.3s ease;
  cursor: pointer;
}

@media (min-width: 640px) {
  .opacity-container:has(.opacity-container-child:hover) .opacity-container-child:not(:hover) {
    opacity: 0.5;
  }
}

/* Nprogress styles */
.nprogress {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  z-index: 100;
}
.nprogress .bar {
  background: hsl(var(--progress-bar)) !important;
  height: 2px !important;
  box-shadow: 0 2px 10px 0.3px hsla(var(--progress-shadow));
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}
html.dark .nprogress .bar {
  height: 2px !important;
  background: hsl(var(--dark-progress-bar)) !important;
  box-shadow: 0 2px 10px 0.3px hsla(var(--dark-progress-shadow));
}

/* Underline effect button */
.underline-effect {
  position: relative;
  display: block;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  border-bottom: 1.5px solid hsl(var(--border-light));
  font-weight: 400;
  padding: 6px;
}

.underline-effect::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 1.5px;
  top: 100%;
  left: 0;
  transition: transform 0.4s cubic-bezier(0.86, 0, 0.07, 1);
  -webkit-transition: transform 0.4s cubic-bezier(0.86, 0, 0.07, 1);
  -moz-transition: transform 0.4s cubic-bezier(0.86, 0, 0.07, 1);
  -ms-transition: transform 0.4s cubic-bezier(0.86, 0, 0.07, 1);
  -o-transition: transform 0.4s cubic-bezier(0.86, 0, 0.07, 1);
  transform: scaleX(0);
  -webkit-transform: scaleX(0);
  -moz-transform: scaleX(0);
  -ms-transform: scaleX(0);
  -o-transform: scaleX(0);
  transform-origin: bottom right;
  background-color: hsl(var(--underline-light));
}

html.dark .underline-effect {
  border-color: hsl(var(--border-dark));
}

html.dark .underline-effect::after {
  background-color: hsl(var(--underline-dark));
}

.underline-effect:hover::after {
  transform: scaleX(1);
  -webkit-transform: scaleX(1);
  -moz-transform: scaleX(1);
  -ms-transform: scaleX(1);
  -o-transform: scaleX(1);
  transform-origin: left bottom;
}


/* Tabs styles  */
.no-visible-scrollbar {
  scrollbar-width: none;
  -ms-overflow-style: none;
  -webkit-overflow-scrolling: touch;
}
 
.no-visible-scrollbar::-webkit-scrollbar {
  display: none;
}